#reset-main {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#reset-main nav {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#img-div {
  width: 33%;
}

#reset-main nav h1 {
  width: 33%;
  text-align: center;
  font-size: 2rem;
}

#reset-nav-Link {
  width: 33%;
  text-align: right;
}

#reset-nav-Link:hover {
  color: red;
}

#reset-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(12, 22, 33);
  text-align: center;
  padding: 20px 0;
  background-color: rgb(214, 214, 218);
  color: whitesmoke;
  width: 50%;
}

#reset-title {
  color: black;
  font-size: larger;
}

#reset-form {
  margin-top: 3rem;
  width: 50%;
}

#reset-submitBtn {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgb(4, 4, 27);
  color: whitesmoke;
  font-size: large;
  font-weight: bold;
}
