.sidebar {
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(150, 154, 158);
  padding: 25px 15px;
  border-radius: 10px;
  border-color: white;
  margin-left: 10px;

  max-width: 18vw;
  background-color: black;
  color: white;
}

.sidebar .menu {
  display: block;
  float: right;
  cursor: pointer;
  width: 30px;
  border: 2px solid white;
  padding: 5px;
  border-radius: 5px;
}

.new-chat img {
  width: 20px;
}

.sidebar .new-chat {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  /* background: -webkit-linear-gradient(16deg, blue, green, rgb(255, 217, 0)); */
  color: white;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid white;
  cursor: pointer;
  width: 95%;
  padding: 10px;
}

.new-chat p {
  text-wrap: nowrap;
}

.recent-title {
  margin-top: 20px;
  font-size: 1.5rem;
}

.sidebar .recent {
  display: flex;
  flex-direction: column;
  /* animation: fadeIn 1.2s; */
  max-height: 20rem;
  overflow-y: scroll;
  color: white;
  width: 95%;
}

.sidebar .recentData {
  display: flex;
  align-items: start;
  flex-direction: column;
  margin-bottom: 2px;
  /* padding: 10px 10px 10px 0; */
  padding-right: 40px;
  border-radius: 5px;
  color: rgb(96, 106, 116);
  cursor: pointer;
  border: 2px solid white;
  color: white;
  gap: 5px;
}

.userEntry {
  padding: 10px 5px;
  /* border: 2px solid white; */
  border-radius: 5px;
  min-width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 5px;
  height: 40px;
  max-height: 40px;
  overflow: hidden;
  text-align: justify;
  text-wrap: balance;
}

.userEntry p {
  padding-top: 2px;
}

.botResponse {
  width: 100%;
  min-width: 100%;
  height: 100px;
  overflow: hidden;
  /* display: none; */
  text-wrap: wrap;
  margin-left: 5px;
  /* border: 1px solid white; */
}
.botResponse1 {
  width: 100%;
  height: 0px;
  overflow: hidden;
  /* display: none; */
  text-wrap: wrap;
  margin-left: 5px;
}
.sidebar .recent-entry:hover {
  background-color: rgba(87, 91, 95, 0.13);
}

.sidebar .recentData img {
  width: 10px;
}

.sidebar .bottomDiv {
  display: flex;
  flex-direction: column;
}

#logoutBtn {
  padding: 5px;
  font-weight: bold;
}
#logoutBtn:hover {
  cursor: pointer;
  background-color: rgb(127, 179, 221);
}

.sidebar .bottom-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
  height: 40px;
  padding: 5px;
  border: 2px solid white;
  border-radius: 5px;
  width: 95;
  justify-content: end;
}

.sidebar .bottom-item img {
  width: 30px;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
