.sidebar {
    height: 94%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(150, 154, 158);
    padding: 25px 15px;
    border-radius: 10px;
    border-color: white;
    margin-left: 10px;

}

.sidebar .menu {
    display: block;
    float: right;
    cursor: pointer;
    width: 20px;
}

.new-chat img {
    width: 10px
}

.sidebar{
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    background: we-bkit-linear-gradient(16deg, blue, green, rgb(255, 217, 0));
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.new-chat p {
    text-wrap: nowrap;
    margin-top: 50px;
    margin-left: 7px;
    margin-right: 7px;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    color: black;
    text-indent: 66px;
    background-color: lightblue;
}

.recent-title {
    margin-top: 50px;
    margin-left: 7px;
    margin-right: 7px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    color: black;
    text-indent: 40px;
    background-color: lightblue;
}

.sidebar .recent {
    display: flex;
    flex-direction: column;
    /* animation: fadeIn 1.2s; */
    max-height: 20rem;
    overflow-y: auto;
}

.sidebar .recent-entry {
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px 10px 10px 0;
    padding-right: 40px;
    border-radius: 50px;
    color: rgb(96, 106, 116);
    cursor: pointer;
}

.sidebar .recent-entry:hover {
    background-color: rgba(87, 91, 95, 0.13);
}

.sidebar .recent-entry img {
    width: 20px;
}

.sidebar .bottomDiv {
    display: flex;
    flex-direction: column;
}

.sidebar .bottom-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}

.sidebar .bottom-item img {
    width: 29px;
    margin-right:3px
}

@media (max-width:600px) {
    .sidebar {
        display: none;
    }

}